* {
 padding: 0;
 margin: 0; 
 font-family: 'Libre Franklin', sans-serif;
}

.logo-tribeca {
  background: #F7F2EC;
  height: 5em;
  display: flex;
}

.logo-tribeca img{
  width: 160px;
  margin: 0 auto;
}


/**
COLORES
Fondo: #F7F2EC
*/


/**
Fuentes 
font-family: 'Fjalla One', sans-serif;
font-family: 'Libre Franklin', sans-serif;
font-family: 'Nunito', sans-serif;
*/